* {
 margin: 25px;
 padding: 0;
 box-sizing: border-box;   
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 75vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 0.5em 0.5em 0.5em;
}